@import "../../styles/index.scss";

.box {
    background-color: $light-blue;
    border: solid 4px $dark-blue;
    border-radius: 8px;
    display: flex;
    padding: 10px;
    gap: 20px;
    color: black;
    text-decoration: none;

    .detail {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex: 1;

        .price {
            align-self: flex-end;
        }
    }
}

